<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="john_g_shultz img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8 alert-warning">
            <h1 translate="main.title">Welcome, John Shultz's Website!</h1>
            <p class="lead" translate="main.subtitle">This is my homepage</p>
            <div class="col-md-4">
                <div class="bike img-responsive img-rounded"></div>
            </div>
            <div class="col-md-4">
                <p>This is a personal website. I am a developer living in New York City.</p>
            </div>
        </div>

        <div class="carousel col-md-4 alert-warning">
          <div class="limelight"></div>
        </div>
        <div class="carousel flipper col-md-3 alert-warning">
          <div></div>
        </div>
    </div>
</div>
