<div class="resume">

    <h2 translate="resume.title">Resumes</h2>
    <div class="row marketing">
      <div class="section" >
          <h4 class="ng-binding name info header" ng-class="section"></h4>
          <h4 translate="resume.summary" class="ng-binding name info header" ng-class="section">Summary</h4>
          <p translate="resume.summary_content" class="ng-binding">As a professional I have enjoyed working with many impressive people who I have learned from. Over the past three years I have worked with both front end and backend web technologies.</p>
      </div><div class="section" >
          <h4 class="ng-binding name header" ng-class="section"></h4>
          <h4 translate="resume.header.experience" class="ng-binding name header" ng-class="section">Experience</h4>
          <p class="ng-binding"></p>
      </div><div class="subsection" >
          <h4 translate="resume.e1.title" class="ng-binding" ng-class="subsection">Web Developer</h4>
          <h4 translate="resume.e1.durration" class="ng-binding" ng-class="subsection">The Lathe, March 2011 – Present (3 years 2 months) New York, NY</h4>
          <p translate="resume.e1.description" class="ng-binding">Designing and updating web, mobile web and mobile apps using the following technologies: Servers (ASP.NET, PHP, Tomcat, Java, Spring Framework, NODEJS), DBs (Oracle, MySQL, SQL Server, MongoDB), Mobile apps (iOS), web development (CSS3, HTML5, jQuery). Experience with responsive web design and fallback development for legacy (IE) browsers. Experience with UI/UX design process.</p>
      </div><div class="subsection" >
          <h4 translate="resume.e2.title" class="ng-binding" ng-class="subsection">Developer/DBA</h4>
          <h4 translate="resume.e2.durration" class="ng-binding" ng-class="subsection">Apparently, Inc March 2012 – June 2013 (1 year 4 months) New York, NY</h4>
          <p translate="resume.e2.description" class="ng-binding">Developing iOS Webkit modules using Jade, Stylus, client side Javascript and server side NodeJS Javascripting. Administrating and generating reports on MongoDB.</p>
      </div><div class="subsection" >
          <h4 translate="resume.e3.title" class="ng-binding" ng-class="subsection">Web Developer</h4>
          <h4 translate="resume.e3.durration" class="ng-binding" ng-class="subsection">Villas by Linda Smith September 2010 – March 2011 (7 months)</h4>
          <p translate="resume.e3.description" class="ng-binding">Website developing and content administration.</p>
      </div><div class="subsection" >
          <h4 translate="resume.e4.title" class="ng-binding" ng-class="subsection">Helpdesk Supervisor</h4>
          <h4 translate="resume.e4.durration" class="ng-binding" ng-class="subsection">The National Academies August 2004 – March 2010 (5 years 8 months) Washington, DC</h4>
          <p translate="resume.e4.description" class="ng-binding">Technolgoy support, training, reporting and management</p>
      </div><div class="subsection" >
          <h4 translate="resume.e5.title" class="ng-binding" ng-class="subsection">Internship</h4>
          <h4 translate="resume.e5.durration" class="ng-binding" ng-class="subsection">Jane Goodall Institute August 2003 – December 2003 (5 months)</h4>
          <p translate="resume.e5.description" class="ng-binding">Managing the membership access database. Reporting on Raiser's Edge Oracle database. Providing customer service to program members. Developing GIS component to system.</p>
      </div><div class="section" >
          <h4 class="ng-binding name header" ng-class="section"></h4>
          <h4 translate="resume.header.education" class="ng-binding name header" ng-class="section">Education</h4>
          <p class="ng-binding"></p>
      </div><div class="subsection" >
          <h4 translate="resume.e6.title" class="ng-binding" ng-class="subsection">10gen (the MongoDB company)</h4>
          <h4 translate="resume.e6.durration" class="ng-binding" ng-class="subsection">M101 Mongo for Developers 2012 – 2012</h4>
          <p translate="resume.e6.description" class="ng-binding">Learned how to use MongoDB in the context of application development https://s3.amazonaws.com/edu-cert.10gen.com/downloads/e07a6da9252a4c6db970aa396b4ad71c/Certificate.pdf</p>
      </div><div class="subsection" >
          <h4 translate="resume.e7.title" class="ng-binding" ng-class="subsection">American University</h4>
          <h4 translate="resume.e7.durration" class="ng-binding" ng-class="subsection">Science Masters; Applied Sciences degree focused; Bachelors, Biotechnology 2004 – 2006</h4>
          <p translate="resume.e7.description" class="ng-binding">Simulations, Informatics &amp; Analytics, Environmental Ethics, Bioinformatics, Molecular Genetics. Emphasis in group projects and collaboration.</p>
      </div><div class="subsection" >
          <h4 translate="resume.e8.title" class="ng-binding" ng-class="subsection">University of Vermont</h4>
          <h4 translate="resume.e8.durration" class="ng-binding" ng-class="subsection">BS, Biology 1996 – 2000</h4>
          <p class="ng-binding"></p>
      </div><div class="section" >
          <h4 class="ng-binding name header" ng-class="section"></h4>
          <h4 translate="resume.header.skills" class="ng-binding name header" ng-class="section">Skills</h4>
          <p class="ng-binding"></p>
      </div><div class="subsection" >
          <h4 translate="resume.e9.title" class="ng-binding" ng-class="subsection">Web Development</h4>
          <h4 class="ng-binding" ng-class="subsection"></h4>
          <p translate="resume.e9.description" class="ng-binding">AngularJS, NodeJS, MongoDB, Yeoman, Grunt, Bower, Foundation, Bootstrap, JQuery, CSS3</p>
      </div><div class="subsection" >
          <h4 translate="resume.e10.title" class="ng-binding" ng-class="subsection">Mobile App Development</h4>
          <h4 class="ng-binding" ng-class="subsection"></h4>
          <p translate="resume.e10.description" class="ng-binding">iOS, Android, PhoneGap, CocoonJS</p>
      </div><div class="subsection" >
          <h4 translate="resume.e11.title" class="ng-binding" ng-class="subsection">Database</h4>
          <h4 class="ng-binding" ng-class="subsection"></h4>
          <p translate="resume.e11.description" class="ng-binding">MongoDB, MySQL, Oracle</p>
      </div>
    </div>

</div>
