body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.test {}
a {
  color: #996600;
}
p {
  padding: 20px;
}
.photo_loader {
  display: block;
  position: fixed;
  right: -50%;
  bottom: -50%;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.alert-warning {
  padding: 20px;
  border-radius: 20px;
}
.development {
    display: none;
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}
.well {
  padding: 0px;
}
.home {
  background-image: url("../images/background_subway.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 19px;
}

.gallery {
  margin: 100px 0 0 50px;
}
.photo {
  opacity: 1;
  display: block;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  margin: -50px;
  -webkit-animation: appear 5s 1;
  animation: appear 5s 1;
  -webkit-animation-timing-function: cubic-bezier(1,-0.65,1,-0.74);
  animation-timing-function: cubic-bezier(1,-0.65,1,-0.74);
  -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.50);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.50);
}
.photo.active {
  z-index:100;
}
@-webkit-keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.bike {
  display: block;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../images/bike.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50% 50%;
}
.lady_liberty {
  display: block;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../images/lady_liberty.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50% 50%;
}
.john_g_shultz {
  display: inline-block;
  width: 463px;
  height: 640px;
  background-image: url("../images/john_g_shultz_paper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.john_g_shultz:hover {
  background-image: url("../images/john_g_shultz.jpg");
  -webkit-animation: animation 1s;
  animation: animation 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes animation {
    0% {
      -webkit-background-size: 120%;
      background-size: 120%;
    }
    50% {
      -webkit-background-size: 180%;
      background-size: 180%;
    }
    100% {
      -webkit-background-size: 150%;
      background-size: 150%;
    }
}

@keyframes animation {
    0% {
      -webkit-background-size: 120%;
      background-size: 120%;
    }
    50% {
      -webkit-background-size: 180%;
      background-size: 180%;
    }
    100% {
      -webkit-background-size: 150%;
      background-size: 150%;
    }
}

.hand {
    cursor: pointer;
}


#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

/*resume*/
/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.section {
  margin: 20px 0px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-image: url(jack.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    max-width: 700px;
    width: 200px;
    height: 100px;
    /* Standard syntax */
    -webkit-animation-name: shrink;
    animation-name: shrink;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-name: shrink;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}


@-webkit-keyframes shrink
{
from {
width: 100%;
height: 417px;
}
to {
width: 200px;
height: 100px;
}
}


@keyframes shrink
{
from {
width: 100%;
height: 417px;
}
to {
width: 200px;
height: 100px;
}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {
width: 100%;
height: 417px;
}
to {
width: 200px;
height: 100px;
}
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.resume .header {
  border: none;
}
.resume h2 {
  margin-left: 20px;
}
.resume h4 {
  margin-left: 20px;
}
.resume p {
  padding:0px 0px 0px 20px;
}
.resume .subsection {
  background-color: #FFFFF0;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.resume .marketing {
    margin: 0px;
}

.resume.marketing p + h4 {
    margin-top: 28px;
}

.resume [ng-class='subsection'] {
  font-size: 14px;
}

/*end resume*/
/*contact*/
.contact h2 {
  margin-left: 20px;
}
.contact h4 {
  margin-left: 20px;
}
.contact p {
  padding:0px 0px 0px 20px;
}
/*end contact*/
