body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

p {
  padding: 20px;
}
.carousel {
  margin: 20px 0px;
}
.flipper {
  margin: 20px;
}
.flipper div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size:contain;
  background-size:contain;
  width: 100%;
  height: 160px;
  /*
  animation: limelight 1s;
  animation-iteration-count: 1;
  */
  animation:flipper 10s infinite;
  -webkit-animation:flipper 10s infinite; /* Safari and Chrome */
  -webkit-animation-timing-function: steps(1, end);
  background-image: url("../images/lady_liberty.jpg");
}
@keyframes flipper {
    0% {
      background-image: url("../images/downtown.jpg");
    }
    25% {
      background-image: url("../images/horses.jpg");
    }
    50% {
      background-image: url("../images/lady_liberty.jpg");
    }
    75% {
      background-image: url("../images/snowshoe.jpg");
    }
    100% {
      background-image: url("../images/downtown.jpg");
    }
}
@-webkit-keyframes flipper {
    0% {
      background-image: url("../images/downtown.jpg");
    }
    25% {
      background-image: url("../images/horses.jpg");
    }
    50% {
      background-image: url("../images/lady_liberty.jpg");
    }
    75% {
      background-image: url("../images/snowshoe.jpg");
    }
    100% {
      background-image: url("../images/downtown.jpg");
    }
}

.limelight {
    background-image: url("../images/limelight_100.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size:contain;
    background-size:contain;
    width: 100%;
    height: 160px;
    /*
    animation: limelight 1s;
    animation-iteration-count: 1;
    */
    animation:limelight 1s 1;
    -webkit-animation:limelight 2s 1; /* Safari and Chrome */
    -webkit-animation-timing-function: steps(1, end);
}
.limelight:hover {
  background-image: url("../images/limelight_0.jpg");
  animation:limelight 1s 1;
  -webkit-animation:limelight 2s 1; /* Safari and Chrome */
  -webkit-animation-timing-function: steps(1, end);
  animation-direction:reverse;
  -webkit-animation-direction:reverse; /* Safari and Chrome */
}

@keyframes limelight {
    0% {
      background-image: url("../images/limelight_0.jpg");
    }
    50% {
      background-image: url("../images/limelight_50.jpg");
    }
    100% {
      background-image: url("../images/limelight_100.jpg");
    }
}
@-webkit-keyframes limelight {
  0% {
    background-image: url("../images/limelight_0.jpg");
  }
  10% {
    background-image: url("../images/limelight_10.jpg");
  }
  20% {
    background-image: url("../images/limelight_20.jpg");
  }
  30% {
    background-image: url("../images/limelight_30.jpg");
  }
  40% {
    background-image: url("../images/limelight_40.jpg");
  }
  50% {
    background-image: url("../images/limelight_50.jpg");
  }
  60% {
    background-image: url("../images/limelight_60.jpg");
  }
  70% {
    background-image: url("../images/limelight_70.jpg");
  }
  80% {
    background-image: url("../images/limelight_80.jpg");
  }
  90% {
    background-image: url("../images/limelight_90.jpg");
  }
  100% {
    background-image: url("../images/limelight_100.jpg");
  }
}

.alert-warning {
  padding: 20px;
  border-radius: 20px;
}
.development {
    display: none;
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.well {
  background-image: url("../images/background_subway.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bike {
  display: block;
  height: 160px;
  background-repeat: no-repeat;
  background-image: url("../images/bike.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50% 50%;
}

.john_g_shultz {
  display: inline-block;
  width: 463px;
  height: 640px;
  background-image: url("../images/john_g_shultz_paper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.john_g_shultz:hover {
  background-image: url("../images/john_g_shultz.jpg");
  -webkit-animation: animation 1s;
  animation: animation 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes animation {
    0% {
      -webkit-background-size: 120%;
      background-size: 120%;
    }
    50% {
      -webkit-background-size: 180%;
      background-size: 180%;
    }
    100% {
      -webkit-background-size: 150%;
      background-size: 150%;
    }
}

@keyframes animation {
    0% {
      -webkit-background-size: 120%;
      background-size: 120%;
    }
    50% {
      -webkit-background-size: 180%;
      background-size: 180%;
    }
    100% {
      -webkit-background-size: 150%;
      background-size: 150%;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */
